export DATABASE_ENGINE='django.db.backends.postgresql'
export DATABASE_NAME=
export DATABASE_USERNAME=
export DATABASE_PASSWORD=
export DATABASE_HOST='127.0.0.1'
export DATABASE_PORT='5432'
export SECRET_KEY=
export DEBUG=True
export CODACY_PROJECT_TOKEN=
